
<% if @empty %>
  <h1>Pas de résultats pour votre recherche. Voici nos suggestions:</h1>
<% end %>

<% id = 0 %>

<div class="list-group" >
  <% @events.each do |event| %>
    <% id += 1 %>
    <% background_affluence = %>

    <% if !event.affluence.nil? %>
      <% @hour %>
      <% affluences_data_day = JSON.parse(event.affluence.days[@today]) %>
      <% if !affluences_data_day["analysis"].find { |entry| entry['hour'] == @hour }.nil? %>
        <% affluences_data_hour = affluences_data_day["analysis"].find { |entry| entry['hour'] == @hour } %>
        <% affluences_data_intensity = affluences_data_hour["intensity_txt"] %>
        <% intensity_txt = case affluences_data_intensity %>
        <% when "Low"%>
          <% background_affluence = 'bg-low-affluence'%>
        <% when "Below average"%>
          <% background_affluence = 'bg-below-average-affluence' %>
        <% when "Average"%>
          <% background_affluence = 'bg-average-affluence' %>
        <% else %>
          <% background_affluence = 'bg-no-affluence-data' %>
        <% end %>
      <% end %>
    <% end %>

    <div data-controller="modal" class="controller" >
      <div class="decoration-none list-group-item px-0 pt-0 list-group-item-action mt-3" data-index-filters-target="card" data-modal-target="card" data-action="click->modal#show" ></a>
        <div class="row" data-controller="favorite">
          <div class="col-12 col-md-4" style="border-color: red">
            <img src="<%= event.url_image %>" alt="" style="width: 100%; height: 150px; object-fit: cover; border-top: 2px solid black; border-left: 2px solid black" class="border-image">
          </div>
          <div class="col-12 col-md-8">
            <div class="<%=background_affluence%>" style="border-left: 2px solid black">
              <div class="d-flex justify-content-between" style="padding:20px">
                <h5 class="card-title" style="height: 50px; overflow: hidden;">
                  <%= event.title %>
                </h5>
                <%# favorite icon behavior %>
                <div class="favorite ml-auto <%= 'favorited' if user_signed_in? && current_user.interests.find_by(event: event).present? %>" data-favorite-target="heart" data-action="click->favorite#toggleFavorite" data-event-id="<%= event.id %>" >
                  <i class="fa-solid fa-heart"></i>
                  <%= image_tag "btns/heart-inactive.svg", height: 30, width: 30, alt: "like button" %>
                </div>
              </div>
              <div class="separateur"></div>
              <div style="padding:20px">
                <p class="card-text" style="font-size:20px"><%= event.place_name %></p>
                <p class="card-text" ><i class="fa-regular fa-calendar"></i> <%= event.start_date.strftime('%d/%m/%y') %> - <%= event.end_date.strftime('%d/%m/%y') %></p>
                <p class="card-text" style="font-size:20px"><%= event.type_of_price %></p>
                <p class="card-text" style="font-size:20px"><%= event.formatted_zip_code %></p>

                <div class="d-flex">
                  <% event.tags.each do |tag| %>
                    <p class="tags"><%= tag %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%# Modal %>
      <div id="myModal" class="modal" data-modal-target="modal" >
        <!-- Modal content -->
        <div class="modal-content mb-5" data-modal-target="modalContent" >

          <div class="modal-header p-0">

            <%= image_tag "btns/close-modal.svg", height: 30, width: 30, alt: "marker liked", data: { action: "click->modal#close", modal_target: "modal" }, class: "close" %>
            <div class="d-flex gap-3 align-items-center pe-2 pb-4 pt-2 border-left justify-content-between w-100">
              <h2 class="mb-0 w-100 line-height-headers big-size-font"><%= event.title %></h2>
              <%= image_tag "btns/heart-inactive.svg", height: 30, width: 30, alt: "like button" %>
            </div>
          </div>

          <div class="modal-body p-0">
            <img src="<%= event.url_image %>" alt=<%= event.title %> class="border-left border-top-custom border-bottom-custom modal-image">

            <div class="infos d-flex gap-3 pt-3 border-left justify-content-between">

              <div class="d-flex flex-column flex-grow-1">
                <p class="headers-secondary modal-info-primary ps-3" ><%= event.place_name %></p>
                <p class="ps-3 modal-info-content"><em><%= event.type_of_price %></em></p>
              </div>

              <div class="modal-tags d-flex flex-column align-items-end">
                <% event.tags.each do |tag| %>
                  <p class="tags flex-shrink-1 text-end"><%= tag %></p>
                <% end %>
              </div>

            </div>

            <hr class="w-100 py-0 my-0 line-break-modal">

            <div class="d-flex flex-column flex-grow-1 margin-modal-left border-left pt-3">
              <p class="headers-secondary modal-info-primary ps-3" >Affluence</p>
              <p class="ps-3 modal-info-content"><em>affluence data ici</em></p>
            </div>

            <hr class="w-100 py-0 my-0 line-break-modal">

            <div class="d-flex flex-column flex-grow-1 margin-modal-left border-left pt-3">
              <p class="ps-3 modal-content-text chapeau-modal" id=<%= id.to_s %>><%= event.chapeau %></p>

              <div class="description-modal modal-content-text ps-3 d-none" data-modal-target="description" ><%= event.description.html_safe %></div>
            </div>
          </div>


          <div class="modal-footer d-flex justify-content-center py-3 border-left flex-column px-0">
            <a href=<%= event.url_to_book %> target="_blank" >Allez vers leur site</a>
            <hr class="w-25 py-0 my-0 line-break-modal mb-3">
            <%= image_tag "btns/btn-plus.svg", height: 37, width: 37, alt: "like button", class: "toggle-plus", data: { modal_target: "btn", action: "click->modal#toggleDescription" } %>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>
