

<div class="list-group">
      <% @events.each do |event| %>
        <%= link_to event_path(event.id), class: "decoration-none list-group-item px-0 pt-0 list-group-item-action mt-3", data: { index_filters_target: "card" } do %>
          <div class="row" data-controller="favorite">
            <div class="col-12 col-md-4" style="border-color: red">
              <img src="<%= event.url_image %>" alt="" style="width: 100%; height: 150px; object-fit: cover; border-top: 2px solid black; border-left: 2px solid black" class="border-image">
            </div>

            <div class="col-12 col-md-8">
              <div class="card-body background" style="border-left: 2px solid black">
                <div class="d-flex justify-content-between" style="padding:20px">
                  <h5 class="card-title" style="height: 50px; overflow: hidden;">
                    <%= event.title %>
                  </h5>
                  <div class="favorite ml-auto" data-favorite-target="heart" data-action="click->favorite#toggleFavorite" data-event-id="<%= event.id %>" >
                    <% if user_signed_in? && current_user.interests.find_by(event: event).present? %>
                      <i class="fa-solid fa-heart favorited"></i>
                    <% else %>
                      <i class="fa-solid fa-heart"></i>
                    <% end %>
                  </div>
                </div>
                <div class="separateur"></div>
                <div style="padding:20px">
                  <p class="card-text" style="font-size:20px"><%= event.place_name %></p>
                  <p class="card-text" ><i class="fa-regular fa-calendar"></i> <%= event.start_date.strftime('%d/%m') %> - <%= event.end_date.strftime('%d/%m') %></p>
                  <p class="card-text" style="font-size:20px"><%= event.type_of_price %></p>
                  <div class="d-flex">
                    <% event.tags.each do |tag| %>
                      <p class="tags"><%= tag %></p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
