<div class="list-group" style="border-left: 1px solid black">
  <% events.each do |event| %>
    <%= link_to event_path(event.id), class: "coration-none list-group-item px-0 pt-0 list-group-item-action bg-$bg-rouge", data: { index_filters_target: "card" } do %>
      <div class="row" data-controller="favorite" style="border-top: 1px solid black; marigin: 20px">
        <div class="favorite" data-favorite-target="heart" data-action="click->favorite#toggleFavorite" data-event-id="<%=event.id%>" >
          <i class="fa-solid fa-heart"></i>
        </div>

        <div class="col-12 col-md-4">
          <img src="<%=event.url_image%>" alt="" style="width: 100%; height: 150px; object-fit: cover;" class="border-image">
  <!--             <img src="https://images.unsplash.com/photo-1513038630932-13873b1a7f29?q=80&w=2835&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" style="width: 100%; height: 150px; object-fit: cover;" class="border-image"> -->
        </div>

        <div class="col-12 col-md-8" style="padding-top: 20px">
          <div class="card-body" style="padding: 20px">
            <h5 class="card-title" style="height: 50px; overflow: hidden;"><%= event.title %></h5>
            <p class="card-text"><i class="fa-regular fa-calendar" style="padding-top: 17px"></i> <%= event.start_date.strftime('%d/%m') %> - <%= event.end_date.strftime('%d/%m') %></p>
            <p class="card-text"><%= event.type_of_price %></p>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>
