
<% if @empty %>
  <h1 class="headers-primary bigger-size-font main-h1 my-0 border-none">Pas de résultats</h1>
  <h1 class="mt-0">Voici nos suggestions:</h1>
<% else %>
  <h1 class="headers-primary bigger-size-font text-center main-h1 border-none my-0">Événements <br>du moment</h1>
<% end %>

<% id = 0 %>

<div class="list-group" >
  <% @events.each do |event| %>
    <% id += 1 %>

    <% background_affluence = 'bg-no-affluence-data' %>
    <% synthese_affluence = "Données indisponibles" %> <%# SERA Faible, En dessous de la moyenne, moyenne%>
    <% affluences_data_day = %>
    <% affluences_data_intensity = "" %> <%#  SERA Low ou Below average ou Average ou ""%>
    <% array_intensity = %>

    <% if !event.affluence.nil? %>
      <% @hour %>
      <% affluences_data_day = JSON.parse(event.affluence.days[@today]) %>
      <% if !affluences_data_day["analysis"].find { |entry| entry['hour'] == @hour }.nil? %>
        <% affluences_data_hour = affluences_data_day["analysis"].find { |entry| entry['hour'] == @hour } %>
        <% affluences_data_intensity = affluences_data_hour["intensity_txt"] %>
          <% intensity_txt = case affluences_data_intensity %>
          <% when "Low"%>
            <% synthese_affluence = "Faible" %>
            <% background_affluence = 'bg-low-affluence'%>
          <% when "Below average"%>
            <% synthese_affluence = "En dessous de la moyenne" %>
            <% background_affluence = 'bg-below-average-affluence' %>
          <% when "Average"%>
            <% synthese_affluence = "Moyenne" %>
            <% background_affluence = 'bg-average-affluence' %>
          <% else %>
            <% background_affluence = 'bg-no-affluence-data' %>
            <% synthese_affluence = "Données indisponibles" %>
          <% end %>
        <% else %>
          <% synthese_affluence = "Données indisponibles" %>
        <% end %>
      <% else %>
        <% synthese_affluence = "Données indisponibles" %>
        <% background_affluence = 'bg-no-affluence-data' %>
      <% end %>

    <div data-controller="modal favorite" class="controller">
      <div class=" pt-0 mt-5 card-custom px-0" data-index-filters-target="card" data-modal-target="card"></a>
        <div class="margin-right-custom">
          <div class="px-0 margin-left-custom">
            <img src="<%= event.url_image %>" alt="" class="main-image-card border-top-custom border-right-custom border-left">
          </div>
          <div class="px-0">
            <div class="">
              <div class="d-flex justify-content-between align-items-center gap-3 py-3 pe-3 margin-left-custom border-left border-right-custom">

                <h2 class="mb-0 w-100 line-height-headers text-start headers-secondary"><%= event.title %></h2>
                <div class="favorite ml-auto <%= 'favorited' if user_signed_in? && current_user.interests.find_by(event: event).present? %>" data-favorite-target="heart" data-action="click->favorite#toggleFavorite" data-event-id="<%= event.id %>" >
                  <% if user_signed_in? && current_user.interests.find_by(event: event).present? %>
                    <%= image_tag "btns/heart-inactive.svg", height: 30, width: 30, alt: "like button", data: { favorite_target: "heartInactive" }, class: 'd-none' %>
                    <%= image_tag "btns/heart-active.svg", height: 30, width: 30, alt: "like button", data: { favorite_target: "heartActive" } %>
                  <% else %>
                    <%= image_tag "btns/heart-inactive.svg", height: 30, width: 30, alt: "like button", data: { favorite_target: "heartInactive" } %>
                    <%= image_tag "btns/heart-active.svg", height: 30, width: 30, alt: "like button", data: { favorite_target: "heartActive" }, class: 'd-none' %>
                  <% end %>
                </div>
              </div>

              <hr class="py-0 my-0 line-break-modal">

              <div class="<%=background_affluence%>">
                <div class="d-flex align-items-center margin-left-custom border-left border-right-custom pt-3 gap-3">
                  <p class="headers-secondary modal-info-primary ms-3 border-custom px-3 py-2 bg-creme" >Affluence</p>
                  <%# <p class="ps-3 modal-info-content"><em>affluence data ici</em></p> %>
                  <p class="ps-3 modal-info-content">
                    <% affluence_icons_pattern = case background_affluence %>
                    <% when 'bg-low-affluence' %>
                      <%= image_tag "icons-affluence/low-affluence-circle.svg" %>
                    <% when 'bg-below-average-affluence' %>
                      <%= image_tag "icons-affluence/below-average-affluence-circle.svg"%>
                    <% when 'bg-average-affluence' %>
                      <%= image_tag "icons-affluence/average-affluence-circle"%>
                    <% else %>
                      <p class="ps-3 line-height-card" style="font-size: 20px;">Données indisponibles</p>
                    <% end %>
                  </p>
                </div>
              </div>

              <hr class="py-0 my-0 line-break-modal">

              <div class="margin-left-custom px-3 pt-3 border-left border-right-custom">
                <p class="card-text" style="font-size:20px"><%= event.place_name %>, <%= event.formatted_zip_code %></p>
                <div class="d-flex justify-content-between">
                  <p class="card-text" ><i class="fa-regular fa-calendar"></i> <%= event.start_date.strftime('%d/%m/%y') %> - <%= event.end_date.strftime('%d/%m/%y') %></p>
                  <p class="card-text card-price" style="font-size:20px"><em><%= event.type_of_price %></em></p>
                </div>



                <div class="d-flex flex-wrap">
                  <% event.tags.each do |tag| %>
                    <p class="tags flex-shrink-1 align-self-center"><%= tag %></p>
                  <% end %>
                </div>
                <div class="d-flex justify-content-center">
                  <button data-action="click->modal#show" class="btn-black mt-4 mb-3" >En voir plus<%= image_tag "btns/arrow.svg", height: 24, width: 24 %></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <%# Modal %>
      <div id="myModal" class="modal" data-modal-target="modal" >
        <!-- Modal content -->
        <div class="modal-content mb-5" data-modal-target="modalContent" >
          <div class="modal-header p-0">

            <%= image_tag "btns/close-modal.svg", height: 30, width: 30, alt: "marker liked", data: { action: "click->modal#close", modal_target: "modal" }, class: "close" %>
            <div class="d-flex gap-3 align-items-center pe-2 pb-4 pt-2 border-left justify-content-between w-100">
              <h2 class="mb-0 w-100 line-height-headers big-size-font"><%= event.title %></h2>
                <div class="favorite ml-auto <%= 'favorited' if user_signed_in? && current_user.interests.find_by(event: event).present? %>" data-favorite-target="heart" data-action="click->favorite#toggleFavorite" data-event-id="<%= event.id %>" >
                <% if user_signed_in? && current_user.interests.find_by(event: event).present? %>
                  <%= image_tag "btns/heart-inactive.svg", height: 30, width: 30, alt: "like button", data: { favorite_target: "heartInactive" }, class: 'd-none' %>
                  <%= image_tag "btns/heart-active.svg", height: 30, width: 30, alt: "like button", data: { favorite_target: "heartActive" } %>
                <% else %>
                  <%= image_tag "btns/heart-inactive.svg", height: 30, width: 30, alt: "like button", data: { favorite_target: "heartInactive" } %>
                  <%= image_tag "btns/heart-active.svg", height: 30, width: 30, alt: "like button", data: { favorite_target: "heartActive" }, class: 'd-none' %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="modal-body p-0">
            <img src="<%= event.url_image %>" alt=<%= event.title %> class="border-left border-top-custom border-bottom-custom modal-image">

            <div class="infos d-flex gap-3 pt-3 border-left justify-content-between">

              <div class="d-flex flex-column flex-grow-1">
                <p class="headers-secondary modal-info-primary ps-3" ><%= event.place_name %></p>
                <p class="ps-3 modal-info-content"><em><%= event.type_of_price %></em></p>
              </div>

              <div class="modal-tags d-flex flex-column align-items-end">
                <% event.tags.each do |tag| %>
                  <p class="tags flex-shrink-1 text-end"><%= tag %></p>
                <% end %>
              </div>

            </div>

            <hr class="w-100 py-0 my-0 line-break-modal">


            <div class="<%=background_affluence%>">
              <div class="d-flex flex-column flex-grow-1 margin-modal-left border-left">
                <div class= "px-3 py-3 border-custom bg-creme mx-3 my-4 d-inline-block">
                  <p class="headers-secondary modal-info-primary mb-2" >Affluence de ce jour (<%=@hour%>h à <%= @hour + 1 %>h) :p>
                  <div class="d-flex align-items-center gap-3">
                    <p class="modal-info-content mb-0 line-height-card"><em><%=synthese_affluence%></em></p>
                    <% affluence_icons_pattern = case background_affluence %>
                    <% when 'bg-low-affluence' %>
                      <p class="modal-info-content mb-0"><%= image_tag "icons-affluence/low-affluence-circle.svg" %></p>
                    <% when 'bg-below-average-affluence' %>
                      <p class="modal-info-content mb-0"><%= image_tag "icons-affluence/below-average-affluence-circle.svg"%></p>
                    <% when 'bg-average-affluence' %>
                      <p class="modal-info-content mb-0"><%= image_tag "icons-affluence/average-affluence-circle"%></p>
                    <% else %>
                      <%# <p class="ps-3 modal-info-content"><em>L'affluence n'est pas disponible pour cet événement</em></p> %>
                    <% end %>
                  </div>
                </div>

                <%# <p class="ps-3 modal-info-content"><em>affluence data ici</em></p> %>

              </div>
            </div>

            <hr class="w-100 py-0 my-0 line-break-modal">

          <%# SUGGESTION D'AFFLUENCE DEBUT %>
          <% if synthese_affluence != "Données indisponibles" %>
            <% index = %>
            <div class="d-flex flex-column flex-grow-1 margin-modal-left border-left pt-3">

              <%# <p class="ps-3 modal-info-content"><em>affluence data ici</em></p> %>
              <%# <p class="ps-3 modal-info-content"> %>
                <% array_intensity = affluences_data_day["analysis"] %>
                  <% if affluences_data_intensity == "Low"  %>
                    <%index = array_intensity.find_index do |element| %>
                      <%element["hour"] >  @hour && (element["intensity_txt"] == "Low") %>
                    <% end %>
                  <% elsif  affluences_data_intensity == "Below average" || affluences_data_intensity == "Average" %>
                    <% index = array_intensity.find_index do |element| %>
                      <%element["hour"] >  @hour && (element["intensity_txt"] == "Low" || element["intensity_txt"] == "Below average") %>
                    <% end %>
                  <% end %>
                  <% affluence_plus_faible_txt = array_intensity[index.to_i]["intensity_txt"] %>
                  <% affluence_plus_faible_heure = array_intensity[index.to_i]["hour"] %>
              <%# </p> %>

              <p class="headers-secondary modal-info-primary ps-3 mb-0">Suggestion de créneau:
                  <p class="ps-3 modal-info-content mb-0">

                    <% if affluence_plus_faible_txt == "Low"%>
                      <%affluence_plus_faible_txt = "faible"%>
                      <% elsif affluence_plus_faible_txt == "Below average" %>
                      <%affluence_plus_faible_txt = "en dessous de la moyenne"%>
                      <% elsif affluence_plus_faible_txt == "Average" %>
                      <%affluence_plus_faible_txt = "moyenne"%>
                    <% end %>
                    <%affluence_plus_faible_txt%>
                  <%=affluence_plus_faible_heure%>h à <%=affluence_plus_faible_heure + 1%>h : L'affluence sera <em><%=affluence_plus_faible_txt %></em></p>
              </p>

            </div>

            <hr class="w-100 py-0 my-0 line-break-modal">
          <% end %>

          <%# SUGGESTION D'AFFLUENCE FIN %>

            <div class="d-flex flex-column flex-grow-1 margin-modal-left border-left pt-3">
              <p class="ps-3 modal-content-text chapeau-modal" id=<%= id.to_s %>><%= event.chapeau %></p>

              <div class="description-modal modal-content-text ps-3 d-none" data-modal-target="description" ><%= event.description.html_safe %></div>
            </div>
          </div>


          <div class="modal-footer d-flex justify-content-center py-3 border-left flex-column px-0">
            <% if event.url_link.present? %>
            <div class="pb-0 mb-3 d-flex gap-2 border-bottom-custom">
              <div>
                <a href=<%= event.url_link %> target="_blank" >Allez sur leur site</a>
              </div>
              <div>
                <%= image_tag "btns/arrow-black.svg" %>
              </div>
            </div>
            <% end %>
            <%# <hr class="w-25 py-0 my-0 line-break-modal mb-3"> %>
            <%= image_tag "btns/btn-plus.svg", height: 37, width: 37, alt: "like button", class: "toggle-plus", data: { modal_target: "btn", action: "click->modal#toggleDescription" } %>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>
